a, p, select, h1 {
    font-family: Garamond, serif;
}

body {
    background-color: #fcebd9;
}

.pink-background {
    background-color: #e7bba6;
}

.pink-text {
    color: #e7bba6;
}

.green-background {
    background-color:#323828
}

.green-text {
    color: #323828;
}

.tall-box {
    height: 80vh;
    width: 50vw;
}

.short-box {
    height: 15vh;
    width: 50vw;
}

.container {
    display: flex;
}

.small {
    font-size: 6vw;
}

.front-title-text {
    position: absolute;
    left: 30px;
    top: 5px;
    font-size: 7.5vw;
    line-height: 5%;
    color: #5b6150;
}

.back-title-text {
    position: absolute;
    left: 33px;
    top: 8px;
    font-size: 7.5vw;
    line-height: 5%;
    color: #fff1d6;
}

.link {
    font-size: 3vw;
    line-height: 0;
    padding-left: 40px;
}

.external-link {
    height: 3vw;
    width: 3vw;
    padding-top: 22px;
    padding-left: 10px;
}

.summary {
    font-size: 30px;
    text-align: center;
    /* vertical-align: bottom; */
    padding: 40px;
}

/* .name {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

td:hover {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li div img, select {
    height: 30vh;
    width: 40vh;
}

li {
    padding: 10px;
}

select {
    text-align-last: center;
    font-size: 20px;
}

#nessie-header {
    padding-left: 250px;
    padding-top: 30px;
}

ul {
    padding-left: 130px;
}

body a {
    padding-left: 630px;
    padding-top: 30px;
    padding-bottom: 30px;
}

table {
    margin-left: 200px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#search-header {
    padding-left: 380px;
    padding-top: 50px;
}

.pics-container {
    background-color: #5b6150;
    width: 800px;
    margin-left: 220px;
}